/*
** General
*/
body { font-family: lucinda, helvetica; font-size: 16px; }

a, a:visited { color: #ff9999; }
h3 { margin-top:0px; padding-top:0px; }

/*
** Lists
*/
.display-list { margin: 0; padding: 0; list-style-type: none; }

nav .display-list a,
aside .display-list a { text-decoration: underline; }
nav .display-list a:hover { color: #726bff; text-decoration: none; }
aside .display-list a:hover { background-color: #bb2139; color: #fff; text-decoration: none; }

.top { position: absolute; left:20px; top:20px; width: 980px; height: 60px; }
.left { position: absolute; left: 20px; top: 90px; width: 100px; height: 400px; }
.middle { position: absolute; left: 130px; top: 90px; width: 660px; height: 400px; text-align: justify; padding-left: 5px; padding-right: 5px;}
.right { position: absolute; left: 810px; top: 90px; width: 300px; height: 400px; }

/*
** Templates
*/
.assortment-page .middle { width: 500px; }
.assortment-page .right { left: 650px; }

/*
** Titles
*/
.sponsor-title { display: block; margin: 0 0 20px; padding: 0; font-weight: bold;}
.menu-title { display: block; margin: 0 0 20px; padding: 0; font-weight: bold; }

/*
** Menu
*/
.main-menu-list .current-menu-item a,
.main-menu-list .current-menu-item a:hover { color: #c52115; text-decoration: none; }

/*
** Container
*/
.col-container { display: table; margin: 0; padding: 0; }
.col-container .row { display: table-row; margin: 0; padding: 0; }
.col-container .column { display: table-cell; margin: 0; padding: 0; }

/*
** Container: Home
*/
.home-columns .row .column { padding-left: 20px; padding-right: 20px; }
.home-columns .row .column:first-child { padding-left: 0; border-right: 1px solid #000; }

/*
** Assortment
*/
#assortment tbody tr:nth-child(odd) { background-color: #700000; }
#assortment tbody tr:nth-child(even) { background-color: #cc070e; }
#assortment tbody td { color: #fff; }
#assortment input[type=text] { margin: 0; padding: 0; width: 100%; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*
** Shopping cart
*/
#shopping-cart .grand-total-row { font-weight: bold; }

/*
** Order form
*/
.order-form td { vertical-align: baseline; }
.order-form .field-error { margin: 2px 0 0; padding: 0; font-size: 12px; font-style: italic; color: #ea0d0d; }